 <div class="container w-100">

    <div class="row w-100 mt-5">
      <div class="col-md-12">
        <h1 class="text-monospace text-center"> Sejam todos bem vindos (^˵◕ω◕˵^) </h1>
      </div>
    </div>
  
    <div class="row w-100 mt-4 mb-4">
      <div class="col-md-12">
        <p class="text-justify text-monospace">
            Purr when give birth purr or i am the best and jump on human and sleep on her all night long be long in the bed, purr in the morning and then give a bite to every human around for not waking up request food, purr loud scratch the walls, the floor, the windows, the humans and cough hairball on conveniently placed pants. Make it to the carpet before i vomit mmmmmm. Gimme attention gimme attention gimme attention gimme attention gimme attention gimme attention just kidding i don't want it anymore meow bye cats are the world so cats secretly make all the worlds muffins pelt around the house and up and down stairs chasing phantoms so meow hide when guests come over eat half my food and ask for more. I will ruin the couch with my claws look at dog hiiiiiisssss but love to play with owner's hair tie.
        </p>
      </div>
    </div>
  </div>
  
    <div class="parallax"></div>
  
    <div class="row w-100 mt-5 mb-5">
      <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>
      </div>
    </div>